.footerContact {
  background-color: #27ae60;
  padding: 40px 0;
}
.footerContact h1 {
  font-size: 40px;
}
footer{
  background: #27ae60;
  padding: 50px 0;
  color: black;
}
footer .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  grid-gap: 20px;
}
footer img {
  width: 150px;
  margin-bottom: 10px;
}
footer .headd {
  font-weight: 500;
  color: black;
}
footer p {
  color: rgb(16, 15, 15);
  margin: 20px 0;
}
footer input {
  background-color: #fff;
  border: black 2px solid;
  padding: 13px;
  width: 100%;
  border-radius: 10px;
  margin-right: 3px;
}
footer button{
  border: black 2px solid;
  border-radius: 15px;
  background-color: #0d4b25;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
}
footer ul {
  display: block;
}
footer li {
  display: block;
  color: grey;
  margin-bottom: 10px;
}
.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 800px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
